/* Fonts from google */
/* Patrick Hands & Rubik */
@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Rubik:wght@300&display=swap");

:root {
  --theme-bg-color: rgba(17, 24, 39, 255);
}

::-moz-selection {
  color: #111;
  background: rgba(52, 211, 153, 255);
}

::selection {
  color: #111;
  background: rgba(52, 211, 153, 255);
}

.social:hover {
  padding: 0.6rem;
  margin: 0;
}
.social {
  margin: 0.2rem;
  padding: 0.4rem;
}
.border-gradient-x {
  border-image: linear-gradient(
      to right,
      rgba(239, 68, 68, 255),
      rgba(251, 191, 36, 255),
      rgba(52, 211, 153, 255),
      rgba(124, 58, 237, 255)
    )
    100% 1;
}
.border-gradient-y {
  border-image: linear-gradient(
      to bottom,
      rgba(239, 68, 68, 255),
      rgba(251, 191, 36, 255),
      rgba(52, 211, 153, 255),
      rgba(124, 58, 237, 255)
    )
    1% 100%;
}
* {
  font-family: "Rubic", sans-serif;
}
.handwritten {
  font-family: "Patrick Hand", cursive;
}

.btn {
  margin: 30px 0;
  position: relative;
  transition: all 1000ms ease;
  overflow: hidden;
}

.btn > p {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  position: relative;
  z-index: 1;
}

.btn:before {
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  transition: all 1000ms ease;
  top: 0;
  left: -300%;
  transform: skewX(-15deg) scaleX(2);
}

.btn:hover:before {
  left: 0;
}
